name: CI - Full Run

on: [push, pull_request]

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm test

  integration-tests:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - run: npm install
      - run: npm run test:integration
